.textred{
    color: red;
}
.textgreen{
    color: green;
}

.invalid{
    background-color: red;
    border: 1px solid blue;
}

.color{
 color: rgb(89, 255, 0);
}
.color2{
 color: rgb(119, 0, 255);
}